body{
	background: rgb(100,149,237);
	color: white;
}

a{
	font-size: 12pt;
	color: purple;
	font-weight:bold;
}

h1{
	font-family:monospace;
	color:rgb(0,0,128);
	font-size: 45pt

}

h2{
	font-family:monospace;
	font-size: 25pt;
	color:rgb(39,64,139);
}

ul{
	color: black;
	font-family:monospace;
	font-size: 12pt;
	font-weight:bold;
}

p{
	color: black;
	font-family:monospace;
	font-size: 12pt;
	font-weight:bold;

}