body{
	background-color: rgb(91,97,248);
	color: white;
}

a{
	font-size: 12pt;
	color: rgb(0,0,220);
	font-weight:bold;
	text-decoration: none;

}


hr {
    display: line;
    height: 1px;
    border-top: 1px solid  rgb(91,97,248);
    width: 100%

}

a:hover{
	color:white;
	background-color: rgb(91,97,248);

}

h1{
	font-family:"Poppins";
	color:rgb(0,0,128);
	font-size: 80pt;

}

h2{
	font-family:monospace;
	font-size: 25pt;
	color:rgb(39,64,139);
}

h3{
	font-family:monospace;
	font-size: 50pt;
	color:rgb(39,64,139);
}

ul{
	color: black;
	font-family:monospace;
	font-size: 12pt;
	font-weight:bold;
}

p{
	color: black;
	font-family:"Indie Flower";
	font-size: 12pt;
	font-weight:bold;
	text-align: justify;

}









.links{
	display: inline-block;
	border:1.5px solid rgb(0,0,128);
	padding: 5px;
	text-decoration: none;

}

.img1 {
	width: 100%;
	height: auto;
	display: block;

}

.img{

}

.img1 p {
    position: absolute;
    top:10%;
    left: 20%;
    background-color: red;
    border: 1px solid #FFF;
    width: 218px;
    color: white;
    padding: 5px;
}


.line{
	width: 100%;
	height: 1px;
	border-bottom: 1px solid black;

}

.margem_pagina{
	display: inline-block;
	margin: 0px 10% 0px 10%;
	background-color: rgb(148,226,255);
	text-align: justify;
}

.margem_head{
	display: inline-block;
	text-align: center;
	width: 100%;
	
}

.margem_links{
	display: inline-block;
	text-align: center;
	margin: 1%;
}


.margem_body{
	display: inline-block;
	margin: 7%;
	text-align: left;
	
}

.margem_body2{
	display: inline-block;
	text-align: left;
	width: 100%
	
}

.margem_body3{
	display: inline-block;
	text-align: left;
	width: 79%;
	border-left:1.5px solid rgb(0,0,128);
	margin-top: 3px;
	
}

.margem_body4{
	display: inline-block;
	text-align: left;
	width: 100%;
	margin-top: 3px;
	
}



.margem_lateral{
	display: inline-block;
	padding: 2px;
	width: 19.7%;
	vertical-align:top;

}

.margem_texto{
	padding: 7%
}
	

.cima{
	margin-top: 7%;
}

.centralizar{
	text-align: center;
}

.lateral{
	text-align: left;
}

.titulo2{
	display: inline-block;
	text-align: center;
	width: 100%;
	
}


.links2{
	display: inline-block;
	border:1.5px solid rgb(0,0,128);
	padding: 5px;
	width: 98%;

}

.links2:hover{
	color:white;
	background-color: rgb(0,0,128);

}









@media (max-width: 599px){

	body{
	
}

	h1{
	font-size: 40pt;
	}

}

@media (min-width: 600px){

	body{
	
}
	
	h1{
	font-size: 60pt;
	}

}

@media (min-width: 1300px){

	body{
	
}
	
	h1{
	font-size: 80pt;
	}

}














