body{
	background-color: rgb(237,237,237);	
	color: white;
}

a{
	font-size: 12pt;
	color: white;
	font-weight:bold;
	text-decoration: none;

}


hr {
    display: line;
    height: 1px;
    border-top: 1px solid  rgb(91,97,248);
    width: 100%

}

a:hover{
	color:rgb(91,162,232);
	text-decoration: none;
	text-shadow: none;
	
}


h1{
	font-family:"Indie Flower";
	color:white;
	font-size: 35pt;

}

h2{
	font-family:monospace;
	font-size: 25pt;
	color:rgb(39,64,139);
}

h3{
	font-family:monospace;
	font-size: 50pt;
	color:rgb(39,64,139);
}

h4{
	font-family:monospace;
	font-size: 30pt;
	color:rgb(0,0,128);
}

h5{
	font-family:monospace;
	font-size: 20pt;
	color:rgb(0,0,128);
}



p{
	color: black;
	font-family:"Indie Flower";
	font-size: 15pt;
	font-weight:bold;
	text-align: justify;
	word-spacing: 5px;
	letter-spacing: 0.7px;

}



.menu-item {
	position: relative;
	display: inline;
	border: 1.5px solid rgb(0,0,128);
	padding: 5px 8px 5px 8px;
	color: rgb(0,0,220);

	
}

.menu-item2 {
	position: relative;
	padding: 5px 8px 5px 8px;
	color: rgb(0,0,220);
	border-bottom: 1px solid rgb(0,0,128);
	background-color: rgb(0,0,128);
	border-radius: 10px;

	
	
}

.menu-item:hover {
	cursor: pointer;
	border-radius: 40px;
	border: 1.5px solid white;

	
}

.menu-item2:hover {
	cursor: pointer;
	background-color: rgb(39,64,139);



}

.submenu {
	visibility: hidden;
	position: absolute;
	margin: 0;
	top: 100%;
	left: 0%;


}

.menu-item:hover .submenu {
	visibility: visible;
	background-color: rgb(0,0,128);
	z-index: 900;

	
}

.menu-item2:hover .submenu {
	visibility: visible;
	z-index: 900;
		
}




.links{
	display: inline-block;
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	float:right;

}


.links2{
	display: inline-block;
	padding: 5px;
	width: 98%;
	color: rgb(0,0,220);

}

.links2:hover{
	color:white;
	background-color: rgb(0,0,128);

}

.links3{
	text-decoration: none;
	list-style: none;
	float: left;
	width: 100.1%;
	margin: 0;
	margin-top: 2.1px;
	padding: 0;
	border-radius: 10px;	

}

.img {
	text-align: center;
	width: 100%;
	display: inline-block;
	
}

.left {
	text-align: left;
	margin-top: 25px;
	margin-right: 25px;


	
	
}

.ft {
	width: 100%;
	height: auto;
	display: inline-block;
	
}


.foto {
	width: 100px;
	height: 50px;
	display: inline-block;
	
}



.line{
	width: 100%;
	height: 1px;
	border-bottom: 1px solid black;

}



.margem_head{
	display: inline-block;
	margin: 0px;
	background-color: rgb(0,0,128);	
	width: 100%;

	
}

.margem_links{
	display: inline-block;
	text-align: center;
	margin: 1%;
}


.margem_body{
	display: inline-block;
	margin: 50px 170px 50px 170px;
	text-align: left;
	z-index: 950;
	
	
}


.margem_body2{
	display: inline-block;
	margin: 50px 100px 50px 100px;
	text-align: left;

	
	
}

.margem_body3{
	display: inline-block;
	text-align: left;
	width: 79%;
	margin-top: 3px;	
	
}


.margem_body4{
	display: inline-block;
	text-align: left;
	width: auto;
	margin-top: 100px;
	float: left;
	
	
}

.margem_body5{
	display: inline-block;
	text-align: left;
	width: auto;
	margin-top: 100px;
	float: right;
	
	
}


.margem_contato{
	display: inline-block;
	text-align: center;
	width: 100%;
	
}

.margem_contato2{
	display: inline-block;
	text-align: center;
	width: auto;
	
}




.margem_lateral{
	display: inline-block;
	padding: 2px;
	width: 15%;
	vertical-align:top;


}


.margem_lateral2{
	display: inline-block;
	padding: 2px;
	


}


.margem_lateral3{
	display: inline-block;
	padding: 2px;
	width: 100%;
	border-left: 5px solid rgb(0,0,128);

	


}



.margem_texto{
	padding: 7%

}
	

.cima{
	margin-top: 6%;
}

.pequeno{
	font-size: 12pt;
}

.esquerda{
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	float:left;
	
}



.centralizar{
	text-align: center;
}

.right{
	margin-right: 100px;
}

.lateral{
	text-align: left;
}

.titulo2{
	display: inline-block;
	text-align: center;
	width: 100%;
	
}



.caixa1 {
	padding: 5px 8px 5px 8px;
	color: rgb(0,0,220);
	margin:20px;
	float: left;
	height: auto;
	
	
}

.caixa2 {
	padding: 5px 8px 5px 8px;
	color: rgb(0,0,220);
	margin:20px;
	float: right;
	height: auto;
	
	
}

.prgf{
	margin-left: 30px;
}











@media (max-width: 599px){

	body{
	
}

	h1{
	
	}

}

@media (min-width: 600px){

	body{
	
}
	
	h1{
	
	}

}

@media (min-width: 1300px){

	body{
	
}
	
	h1{
	
	}

}














